.gameboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.gutter {
    background-color: transparent;
    cursor: col-resize;
    border: 1px solid gray;
    border-bottom: 0px;
    border-top: 0px;
    margin: 5vh 4px 5vh 4px;
}

#leftpanel {
    float: left;
    position: relative;
}

button.check {
  background-color: #04AA6D; /* Green */
  border: none;
  border-radius: 50%;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}

#rightpanel {
    float: right;
    position: relative;
    max-height: 100vh;
}

#drag-src {
    display: block;
    background-color: #dfdfdf;
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    margin: 1 auto;
    padding: 0.5em 0;
}

.phrase > div {
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid #ececec;
    background: #F7F7F7;
    transition: all .5s ease;
}

.phrase > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
}
  
.phrase > div:hover {
    border: 2px solid gray;
    background-color: #e5e5e5;
}
  
.drop-target {
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    min-height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1em;
    display: block;
    text-align: center;
}
  
.drop-target > div {
    transition: all .5s;
    text-align: center;
    margin: 0 1em 1em 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 2px solid skyblue;
    background: #F7F7F7;
    transition: all .5s ease;
}
  
.drop-target > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
}

svg {
    position: relative;
    top: 10px;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: transparent;
}

#redlabel {
    font-size: x-large;
    position: absolute;
    right: 60%;
    top: 1%;
}

#bluelabel {
    font-size: x-large;
    position: absolute;
    right: 5%;
    bottom: 1%;
}

#greenlabel {
    font-size: x-large;
    position: absolute;
    left: 5%;
    bottom: 1%;
}


.drop-target {
    position: absolute;
    width: 20%;
}

#slot1 {
    left: 40%;
    top: 15%;
}

#slot2 {
    right: 18%;
    top: 37%;
}

#slot3 {
    right: 8%;
    top: 73%;
}

#slot4 {
    left: 40%;
    top: 68%;
}

#slot5 {
    left: 8%;
    top: 73%;
}

#slot6 {
    left: 40%;
    top: 50%;
}

#slot7 {
    left: 18%;
    top: 37%;
}
