.left {
    float: left;
    position: relative;
    width: 35%;
    height: 100%;
}
  
.right {
    float: right;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: cornsilk;
}

#drag-src {
    display: block;
    background-color: #dfdfdf;
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    margin: 1 auto;
    padding: 0.5em;
}

.phrase > div {
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid #ececec;
    background: #F7F7F7;
    transition: all .5s ease;
}

.phrase > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
}
  
.phrase > div:hover {
    border: 2px solid gray;
    background-color: #e5e5e5;
}
  
.drop-target {
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    min-height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1em;
    display: block;
    text-align: center;
}
  
.drop-target > div {
    transition: all .5s;
    text-align: center;
    /*
    float: left;
    padding: 1em;
    */
    margin: 0 1em 1em 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 2px solid skyblue;
    background: #F7F7F7;
    transition: all .5s ease;
}
  
.drop-target > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
}

/*
.red > div {
    border-color: red;
}

.blue {
    background-color: aliceblue;
}

.green {
    border-color: green;
}

[g1] {
    border-color: green;
}

[g2] {
    border-style: dashed;
}

[g3] {
    border-radius: 50px;
}
*/

.filler {
    width: 100%;
    height: 90vh;
    border:2px solid indigo;
    position: relative;
    background-color: transparent;
}

textarea {
    position: absolute;
    left: 30%;
    width: 40%;
    top: 20%;

}

svg {
    position: relative;
    top: 10px;
    height: 100%;
    width: 100%;
    background-color: transparent;
}


.drop-target {
    position: absolute;
    width: 20%;
}

#slot1 {
    left: 40%;
    top: 15%;
}

#slot2 {
    right: 18%;
    top: 37%;
}

#slot3 {
    right: 8%;
    top: 73%;
}

#slot4 {
    left: 40%;
    top: 68%;
}

#slot5 {
    left: 8%;
    top: 73%;
}

#slot6 {
    left: 40%;
    top: 50%;
}

#slot7 {
    left: 18%;
    top: 37%;
}


table {
    position: absolute;
    width: 100%;
    height: 200%
}

table > tbody > tr {
    text-align: center;
}

table > tbody > tr > td {
    border: 1px dashed teal;
}

.circle2 {
    position: absolute;
    /*
    display: block;
    width:100%;
    height:100%;
    */
    background-color: transparent;
}
