body {
    margin: 0px;
}

.topnav {
    overflow: hidden;
    color: white;
    background-color: black;
    position: relative;
}

#header {
    width: 100%;
    height: 6vh;
}

.left {
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
}

.right {
    position: static;
    float: right;
    /*
    font-size: 2rem;
    */
    height: 100%;
    width: 20%;
}

label {
    font-size: large;
}

select {
    background: #222;
    color: white;
    height: 100%;
    /*
    font-size: large;
    height: 5vh;
    */
}

button#hamburger {
    background: black;
    border: none;
    color: white;
    float: right;
    height: auto;
    width: auto;
}

button#check {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    float: right;
    /*
    padding: 5px 10px;
    font-size: large;
    */
    height: 100%;
    width: auto;
}

button#check:hover {
    background-color: limegreen;
    border-color: #04AA6D;
}


/* Hide the links inside the navigation menu */
#menu {
    display: none;
    color: white;
    background: #222;
    /*
    background: #333;
    */
}
#menu a {
    /*
    */
    padding: 4px 6px;
    color: white;    
    text-decoration: none;
    display: block;
}

.gameboard {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 100%;
    height: 100;
    /*
    height: 80vh;
    */
}

.live {
    display: block;
}

.editing {
    display: none;
}

@media screen and (orientation: portrait) {
    /*
    label {
        font-size: x-large;
    }
    button#check {
        padding: 0px 20px;
        height: 4vh;
        font-size: x-large;
    }
    */
    .gameboard {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    .gameboard {
        flex-direction: row;
    }
}
