#drag-src {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.phrase > div {
    font-size: smaller;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid #ececec;
    background: #F7F7F7;
    transition: all .5s ease;
}

.phrase > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid gold;
}
  
.phrase > div:hover {
    background-color: #e5e5e5;
}

.source > div {
    border: 2px solid gold;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    height: 6%;
}

td {
    width: 20%;
    vertical-align: middle;
}

.drop-target {
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    min-height: 20px;
    text-align: center;
}

.drop-target > div {
    transition: all .5s;
    text-align: center;
    transition: all .5s ease;
}
  
.drop-target > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
}

.highlight {
    border: 2px solid skyblue;
}

.groupLabels {
    font-size: x-large;
    position: relative;
}

#slot1 {
    left: 40%;
    top: 15%;
}

#slot2 {
    right: 18%;
    top: 37%;
}

#slot3 {
    right: 8%;
    top: 73%;
}

#slot4 {
    left: 40%;
    top: 68%;
}

#slot5 {
    left: 8%;
    top: 73%;
}

#slot6 {
    left: 40%;
    top: 50%;
}

#slot7 {
    left: 18%;
    top: 37%;
}
